.main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.brand {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  width: 50vw;
  height: 90vh;
}
.brand img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
